<div class=" absolute top-0 bg-slate-900 flex w-full h-fit justify-between sm:pb-10 ">
    <div class="flex w-full sm:flex-col md:flex-row items-center"><div> <img class="w-80 ml-10" src="assets/csgologo.png" alt=""></div>
    <div class="pl-[5rem] w-[60%]">
        <app-buscador></app-buscador>
    </div></div>
    
    <div>
        <li class="flex md:flex md:flex-grow flex-row justify-end space-x-1 mr-5 mt-2 gap-2">
            <a href="https://www.instagram.com/"><img class="social" src="./assets/instagram.png" width="25"
                    height="25"></a>
            <a href="https://twitter.com/?lang=es"><img class="social" src="./assets/twitter.png" width="30"
                    height="30"></a>
            <a href="https://web.whatsapp.com/"><img class="social" src="./assets/whatsapp.png" width="25"
                    height="25"></a>
        </li>
    </div>
    <!-- <div *ngIf="lastSkin!=null">{{lastSkin}}</div> -->
</div>